html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Mood;
    margin-bottom: 60px;
   background-image:url("../lib/bootstrap/dist/css/tlo22.jpg");
}