@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div style="float:right">
    <img src="~/lib/bootstrap/dist/css/personal.png" style="width:250px;height:250px;" />
</div>
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p style="font-family:Helvetica;">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong style="font-family:Helvetica;">Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button style="font-family:Helvetica;" class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a style="font-family:Helvetica;"  id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
